:root {
    /* Colors */
  --colors-neutral-0: rgba(255, 255, 255, 1.00);
  --colors-neutral-100: rgba(244, 244, 244, 1.00);
  --colors-neutral-200: rgba(233, 233, 233, 1.00);
  --colors-neutral-500: rgba(117, 117, 117, 1.00);
  --colors-neutral-700: rgba(58, 58, 58, 1.00);
  --colors-neutral-800: rgba(45, 45, 45, 1.00);
  --colors-neutral-900: rgba(31, 31, 31, 1.00);
  --colors-neutral-950: rgba(0, 0, 0, 1.00);
  --colors-purple-500: rgba(164, 69, 237, 1.00);
  --colors-purple-600: rgba(143, 25, 232, 1.00);
  --colors-red-500: rgba(255, 82, 82, 1.00);

  /* Box Shadow */
  --box-shdw-dark: 0 5px 30px var(--colors-purple-500);
  --box-shdw-light: 0 5px 30px rgba(0, 0, 0, 0.1);
  /* Spacing */
  --spacing-0: 0;
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-125: 0.625rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-325: 1.625rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  /* Border Radius */
  --corner-radius-0: 0;
  --corner-radius-4: 0.25rem;
  --corner-radius-6: 0.375rem;
  --corner-radius-8: 0.5rem;
  --corner-radius-10: 0.625rem;
  --corner-radius-12: 0.75rem;
  --corner-radius-16: 1rem;
  --corner-radius-20: 1.25rem;
  --corner-radius-24: 1.5rem;
  --corner-radius-full: 62.4375rem;

  /* Font Families */
  --font-serif: "Lora", serif;
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Inconsolata", monospace;

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font Sizes */
  --fs-900: 4rem;      /* 64px */
  --fs-800: 2rem;      /* 32px */
  --fs-700: 1.5rem;    /* 24px */
  --fs-600: 1.25rem;   /* 20px */
  --fs-500: 1.125rem;  /* 18px */
  --fs-400: 1rem;      /* 16px */
  --fs-300: 0.9375rem; /* 15px */
  --fs-200: 0.875rem;  /* 14px */

  /* Line Heights */
  --lh-170: 1.7;
  --lh-160: 1.6;
  --lh-133: 1.33;
  --lh-130: 1.3;
  --lh-127: 1.27;
  --lh-122: 1.22;
  --lh-120: 1.2;
  --lh-106: 1.06;
  --lh-105: 1.05;
  --lh-104: 1.04;

  /* Letter Spacing */
  --ls-0: 0;
  --ls-tight: -0.015em; /* for -0.25px at ~16px */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    font: inherit;
}
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    font-family: sans-serif;
    background-color: var(--bg-page);
}
body.theme-dark {
	--bg-page: var(--colors-neutral-950);
	--text-primary: var(--colors-neutral-0);
    --toggle-bg: var(--colors-purple-500);
	--border-subtle: var(--colors-neutral-700);
    --box-shadow: var(--box-shdw-dark);
    --input-bg: var(--colors-neutral-900);
}

body.theme-light {
	--bg-page: var(--colors-neutral-0);
	--text-primary: var(--colors-neutral-800);
    --toggle-bg: var(--colors-neutral-500);
	--border-subtle: var(--colors-neutral-200);
    --box-shadow: var(--box-shdw-light);
    --input-bg: var(--colors-neutral-100);
}
body.monospace{
    font-family: monospace;
}
body.serif{
    font-family: serif;
}
a, span{
    font: inherit;
}
.wrapper{
    width: min(46rem, 90%);
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-500);
}
.fonts-theme-container{
    display: flex;
    align-items: center;
    gap: var(--spacing-600);
    position: relative;
}
.font-dropdown{
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    position: relative;
}
.font-dropdown p{
    color: var(--text-primary);
}
.font-options{
    width: max-content;
    display: grid;
    gap: var(--spacing-200);
    padding: var(--spacing-300);
    list-style: none;
    border-radius: var(--corner-radius-16);
    z-index: 1000;
    background-color: var(--bg-page);
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 2rem;
    left: -1rem;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;    
    transition: opacity 0.2s ease-in;
}
.font-options.show{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.font-options li{
    text-align: start;
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    line-height: var(--lh-133);
    margin: 0;
    cursor: pointer;
}
.font-options li[data-font='mono']{
    font-family: monospace;
}
.font-options li[data-font='sans-serif']{
    font-family: sans-serif;
}
.font-options li[data-font='serif']{
    font-family: serif;
}
.fonts-theme-container::after{
    content: '';
    width: 1px;
    background-color: var(--border-subtle);
    height: 20px;
    position: absolute;
    left: 57%;
    transform: translateX(50%); 
}
.light-dark-mode {
	display: flex;
	align-items: center;
	gap: var(--spacing-200);
}
.mode-toggle-container {
	background-color: var(--toggle-bg);
	width: 2.5rem;
	height: 1.25rem;
	border-radius: var(--corner-radius-24);
	padding: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	position: relative;
}
.light-dark-mode > svg path{
    stroke: var(--toggle-bg);
}
.toggle-circle {
	background-color: var(--colors-neutral-0);
	height: 1rem ;
	width: 1rem;
	border-radius: 50%;
	position: absolute;
	left: 22px;
	transition: left 0.2s ease-in;
}
.toggle-theme {
	left: 0.15rem;
}

main{
    display: grid;
    place-items: center;
}
.search-section{
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--spacing-600);
    margin-bottom: var(--spacing-250);
}
.search-input{
    display: flex;
    position: relative;
}
small{
    position: absolute;
    bottom: -1.3rem;
    left: 0.5rem;
    color: var(--colors-red-500);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
small.show{
    opacity: 1;
}
input{
    width: 100%;
    height: max-content;
    padding: var(--spacing-300) var(--spacing-250);
    border-radius: var(--corner-radius-16);
    font: inherit;
    background-color: var(--input-bg);
    border: none;
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    color: var(--text-primary);
}
input:focus, input:active{
    outline: 2px solid var(--colors-purple-500);
}
input.error, input.error{
    outline: 2px solid var(--colors-red-500);
}
.search-btn{
    position: absolute;
    right: var(--spacing-300);
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.input-results{
    display: flex;
    justify-content: space-between;
}
.result-words{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}
.result-words h1{
    font-size: var(--fs-900);
    font-family: var(--fs-700);
    color: var(--text-primary);
    line-height: var(--lh-120);
}
.result-words p{
    font-size: var(--fs-700);
    font-weight: var(--fw-regular);
    line-height: var(--lh-120);
    color: var(--colors-purple-500);
}
.audio-result button{
    background: none;
    border: none;
    cursor: pointer;
}
.play-circle {
  fill: var(--colors-purple-500);
  opacity: 0.25;
}

.play-triangle {
  fill: var(--colors-purple-500);
}

.play-btn:hover .play-circle {
  opacity: 1;
}

.play-btn:hover .play-triangle {
  fill: var(--colors-neutral-0);
}
.play-circle,
.play-triangle {
  transition: opacity 250ms ease, fill 250ms ease;
}
.definitions{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
}
.definition-section{
    display: flex;
    flex-direction: column;
}
.results-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    margin-bottom: var(--spacing-250);
}
.definition-title, .synonyms-title{
    display: flex;
    align-items: center;
}
.definition-title::after, .synonyms-title::after{
    content: '';
    margin-left: 1rem;
    width: 100%;
    height: 1px;
    background-color: var(--colors-neutral-200);
}
h2{
    font-size: var(--fs-700);
    line-height: var(--lh-120);
    color: var(--text-primary);
}
.content-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
}
.definition-item-text p, .content-container p{
    color: var(--colors-neutral-500);
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
}
.definition-item-text{
    display: flex;
    margin: var(--spacing-500) 0;
    gap: var(--spacing-200);
}
.definition-item-text span{
    color: var(--colors-purple-500);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}
.definition-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
}
.definition-list p{
    margin-left: 3rem;
}
ul{
    display: grid;
    gap: var(--spacing-200);
    margin-left: 1.4rem;

}
li{
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
    color: var(--text-primary);
    margin-left: 1.3rem;
    line-height: var(--lh-130);
}
li::marker{
    color: var(--colors-purple-600);
}

.verb-header{
    display: flex;
    align-items: center;
    gap: var(--spacing-125);
    border-top: 1px solid var(--colors-neutral-200);
    padding-top: var(--spacing-250);
    margin-bottom: var(--spacing-500);
}
.verb-header span{
    color: var(--colors-neutral-500);
    font-size: var(--fs-200);
    text-decoration: underline;

}
.verb-header a{
    color: var(--text-primary);
    font-size: var(--fs-200);

}
.source-link{
    display: flex;
    align-items: center;
    gap: var(--spacing-125);
}
.hide{
    display: none;
}
.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-250);
}
.not-found h2{
    color: var(--text-primary);
    font-size: var(--fs-600);
}
.not-found p {
    color: var(--colors-neutral-500);
    font-weight: var(--fw-regular);
    text-align: center;
    font-size: var(--fs-500);
}

@media (max-width: 550px){
    body{
        justify-content: flex-start;
    }
    .wrapper{
        margin-top: var(--spacing-250);
    }
    .logo img{
        width: 1.75rem;
        height: 1.98rem;
    }
    .result-words h1{
        font-size: var(--fs-800);
        line-height: var(--lh-130);
    }
    .result-words p{
        font-size: var(--fs-500);
        line-height: var(--lh-133);
    }
    .font-dropdown p{
        font-size: var(--fs-200);
    }
    .font-options li{
        font-size: var(--fs-200);
        line-height: var(--lh-170);
    }
    h2{
        font-size: var(--fs-500);
    }
    li{
        font-size: var(--fs-300);
    }
    .definition-item-text p, .content-container p{
        font-size: var(--fs-400);
    }
    input{
        font-size: var(--fs-400);
    }
    .play-svg{
        width: 3rem;
        height: 3rem;
    }
    .not-found p{
        font-size: var(--fs-300);
    }

    
}